 # interface web
 streamlit>=1.20

 # Speech-to-Text local
 openai-whisper

 # ffmpeg bindings
 ffmpeg-python

 # gerar .docx
 python-docx

 # gerar .pdf
 fpdf2

 # para carregar imagens
 pillow

 # processamento de áudio
 pydub

+# gravação direta no navegador/celular
+streamlit-audio-recorder
