--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.1.0+cpu
torchaudio==2.1.0+cpu

openai-whisper
streamlit>=1.20
ffmpeg-python
python-docx
fpdf2
pillow

# processamento de áudio
pydub
git+https://github.com/drivendataorg/streamlit-audio-recorder.git#egg=streamlit_audio_recorder

# ajuste automático do path do FFmpeg
imageio-ffmpeg
